
@media only screen and (max-width: 300px) {
    body {
        background-color: red;
        font-size: 10px;
    }

    #medium {
        display: none;
    }

    #large {
        display: none;
    }
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
    body {
        background-color: green;
        font-size: 14px;
    }
    #small {
        display: none;

    }

    #large {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 18px;
    }

    #small {
        display: none;
    }

    #medium {
        display: none;
    }

    
}